<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Demo_Staging_Finance"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="DEMO_STAGING_FINANCE"/>
<stringAttribute key="TALEND_JOB_ID" value="_63R74E2uEeuqWNVK8wr4zA"/>
<stringAttribute key="TALEND_JOB_NAME" value="ETL_Pipeline_STG_LDR"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
