<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="LDR_Core_Demo"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="LDR_CORE_DEMO"/>
<stringAttribute key="TALEND_JOB_ID" value="_bcniYEmpEeu1-Y-0Laclfw"/>
<stringAttribute key="TALEND_JOB_NAME" value="IUD_Demo"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
