<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Connection"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="CONNECTION"/>
<stringAttribute key="TALEND_JOB_ID" value="_1fX2kDvoEeus28tCGXNQ4A"/>
<stringAttribute key="TALEND_JOB_NAME" value="Load_csv_data_to_TD"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
