<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Slowly_Changing_Dimensions"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="SLOWLY_CHANGING_DIMENSIONS"/>
<stringAttribute key="TALEND_JOB_ID" value="_FooUQD96Eeud_8t6mMi_AQ"/>
<stringAttribute key="TALEND_JOB_NAME" value="SCD_2"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
